spring:
  application:
    name: movimientos
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/movimientos}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

server:
  port: 8080
  servlet:
    context-path: /movimientos

app:
  security:
    bcrypt-strength: ${BCRYPT_STRENGTH:10}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    url: /v3/api-docs

logging:
  level:
    com.ms.movimientos: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
